
.cart-items {
    border: 1px solid #e68f8f;
    padding: 2px;
    background-color: #ccc;
  }
  
  .cart-item {
    background-color:rgb(244, 222, 186);
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-details h4 {
    margin: 0;
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  .item-details input {
    width: 50px;
    margin-right: 10px;
  }
  
  .item-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .total {
    margin: 0px;
  }
  
  .total h3 {
    padding: 10px;
    margin-bottom: 0px;
    display:wrap;
    font-size: 28px;
    color: white;
    background-color: #dd9104;
  }
  
